@model IEnumerable<asp_album.Models.Dtos.AlbumQueryDTO>
@{
    ViewData["Title"] = "相簿分類";
}

<h4>相簿分類-@ViewBag.CategoryName</h4>
<hr />

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-12 col-md-4 mb-2">
            <div class="card" style="width:100%;">
                <img class="card-img-top" src="~/Album/@item.AlbumName" style="height: 240px;">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text text-secondary">@item.ReleaseTime</p>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#myModal_@item.Id">詳細資料</button>

                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="myModal_@item.Id">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">@item.Title </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <img class="card-img-top" src="~/Album/@item.AlbumName" style="height: 240px;">
                        <p>
                            @item.Description
                        </p>
                        <p> author: @item.MemberName</p>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    }

</div>