@using asp_album.Models.Dtos
@model IEnumerable<AlbumCategoryDTO>

@{
    ViewData["Title"] = "相簿分類列表";
}

<h4>相簿分類列表</h4>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedDate)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>

                    <a asp-action="CategoryEdit" asp-route-id="@item.Id" class="btn btn-warning">編輯</a>
                    <a asp-action="CategoryDelete" asp-route-id="@item.Id" class="btn btn-danger"
                        onclick="return confirm('確定刪除嗎');">刪除</a>
                    <a asp-action="AlbumCategory" asp-route-id="@item.Id" class="btn btn-info">瀏覽照片</a>
                </td>
            </tr>
        }
    </tbody>
</table>
