@using asp_album.Data
@using asp_album.Models.Entity
@inject ApplicationDBContext _context

@{
    var categories = _context.AlbumCategories.ToList();
}

<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 電子相簿網</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-action="Index">電子相簿網</a>

                <!-- 漢堡選單按鈕 -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- 導覽列內容 -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- 相簿分類 Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                相簿分類
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbardrop">
                                @foreach (var item in categories)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-action="AlbumCategory" asp-route-id="@item.Id">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <!-- 登入 -->
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            @if (User.IsInRole("ADMIN"))
                            {
                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Admin">後台管理</a></li>
                            }

                            <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Member">相簿管理</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-action="Logout">會員登出</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Login">登入管理</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- 主內容 -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- 頁尾 -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - 電子相簿網建置 by <a href="#">洪英皓</a>
        </div>
    </footer>

    <!-- 必要 JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_ToastPartial" />
</body>

</html>
